#interCont {
    border: red solid 2px;
    grid-template-columns: 1fr auto;
    min-height: 250px;
}

.viewInputs {
    display: flex;
    justify-content: center;
}

span > input[name="density"], input[type="checkbox"], input[type="color"] {
    margin: 10px;
}

.inputs {
    grid-template-columns: 180px;
    display: grid;
}

.editAsciiInputs {
    display: grid;
}

.editBrailleInputs {
    display: grid;
}

#interCont > .inputs {
    border: solid black 2px;
    width: 250px;
    min-height: 200px;
}