@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&display=swap');

* {
    font-family: 'Karla', sans-serif;
    -moz-font-feature-settings: 'Karla', sans-serif;
    -ms-font-feature-settings: 'Karla', sans-serif;
    font-feature-settings: 'Karla', sans-serif;
}

body {
    background: url('./photos/backgroundClouds.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.appContainer {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    display: block;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.466);
}
@media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 812px) { 

        .appContainer {
            width: 80%;
            /* height: 80vh; */
            padding: 8px;
            font-size: 1.5vh;
        }
}
@media screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {

        .appContainer {
            width: 80%;
            padding: 15px;
            font-size: 1.8vh;
        }
    }

@media screen 
    and (min-device-width: 1200px) 
    and (max-device-width: 1600px) { 

        .appContainer {
            width: 60%;
            padding: 8px;
        }
}


/* animation */